# --- Компьютерное зрение и обработка изображений ---
opencv-python-headless==4.12.0.88  # Основная библиотека для CV (ORB, RANSAC, обработка изображений)
Pillow==11.3.0                  # Загрузка, валидация и базовые манипуляции с изображениями
numpy==2.2.6               # Основа для всех числовых операций и представления изображений в виде массивов

# --- Взаимодействие с базами данных и сервисами ---
redis==5.2.1